<p>W celu zrestartowania hasła kliknij w link znajdujący się poniżej.</p>

<p><%= link_to "RESTARTUJ", edit_password_reset_url(@user.password_reset_token) %></p>

<p>Jeśli to nie Ty restartowałeś hasło po prostu zignoruj tą wiadomość.</p>
