<div class="container-fluid bg-1 text-center">
    <h2 class="text-center">Witaj w naszym serwisie <%= current_user.username.capitalize %>. Zachecamy do dodawania i komentowania przepisów. </h2><br>
</div>