<body>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">

  <% flash.each do |key, message| %>
    <div class="alert alert-<%= key %>"><%= message %></div>
  <% end %>

  <h3 class="margin">Gdzie Ja Jestem?</h3>
  <p>Trafiłeś na stronę internetową zawierającą przepisy kulinarne.</p>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Dlaczego?</h3>
  <p>Pomysł ma na celu zapisanie przepisów w jednym miejscu i wyeliminowanie możliwości ich zgubienia. Strona powstała również jako projekt na zaliczenie ćwiczeń laboratoryjnych z przedmiotu Architektura serwisów internetowych.</p>
</div>

</body>