
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" <%= link_to 'Książka Kucharska', controller: 'welcome' %></a>
      
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-brand" <%= link_to '| Dodaj Przepis |', new_recipe_path %></a></li>
        <li><a class="navbar-brand" <%= link_to '| Przeglądaj Przepisy |', controller: 'recipes' %></li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Gdzie Ja Jestem?</h3>
  <hp>Trafiłeś na stronę internetową zawierającą przepisy kulinarne. Strona zawiera przepisy z których najczęściej korzystam.</p>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Dlaczego?</h3>
  <p>Pomysł ma na celu zapisanie przepisów w jednym miejscu i wyeliminowanie możliwości ich zgubienia. Strona powstała również jako projekt na zaliczenie ćwiczeń laboratoryjnych z przedmiotu Architektura serwisów internetowych.</p>
</div>

<!-- Footer -->
<footer class="container-fluid bg-3 text-center">
  <p>Klimaszewski Karol</p> 
</footer>

</body>